span{
    font-weight: bold;
}

table, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

#readonly {
    background-color: ghostwhite;
}

#submit{
    margin: 0 auto;
    display: block;
}

#logout{
    position: absolute;
    right: 20px;
}