<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
</head>
<body>
<h1>To jest aplikacja Spring MVC</h1>

<div th:if="${visitor !=null}">
    <h2 th:text="'Witaj ' + ${visitor} + '!'">Rafał</h2>
</div>

<!--<div sec:authorize="isAuthenticated()" style="display: inline-block;">Jesteś zalogowany jako: <span sec:authentication="name"></span></div>-->
<!--<div>Poziom uprawnień: <span sec:authentication="principal.authorities"></span></div>-->
<!--<div><a th:href="@{/logout}">Wyloguj</a></div>-->

<a href="/customer/all">Lista klientów</a>

</body>
</html>