<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
    <link rel="Stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div id="logout"><a href="/logout">Wyloguj</a></div>
<div><a href="/product/new">Dodaj nowy produkt</a></div>


<table>
    <tr>
        <th>Lp.</th>
        <th>Nazwa produktu</th>
        <th>Cena</th>
        <th>Akcje</th>
    </tr>
    <tr th:each="product : ${allProducts}">
        <td>
            <div th:text="${product.id}">10</div>
        </td>
        <td>
            <div th:text="${product.description}">Produkt</div>
        </td>
        <td>
            <div th:text="${product.price}">10.00</div>
        </td>
        <td><a th:href="${'/product/' + product.id}">Pokaż</a>,
            <a th:href="${'/product/update/' + product.id}">Edycja</a>
            <a th:href="${'/product/delete/' + product.id}">Usuń</a></td>
    </tr>

</table>
<div><a href="/">Powrót</a></div>
</body>
</html>